.billing__form .form__group input{
    border: 1px solid var(--card-bg-02);
}

.checkout{
    &__cart{
        padding: 20px;
        background: var(--primary-color);
        color: #fff;
        border-radius: 5px;
        & h6, h4{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        & h6{
            margin-bottom: 20px;
        }
        & h4{
            border-top: 1px solid rgba(211,211,211,0.253);
        }
    }
   
}

.auth__btn{
    background: #fff !important;
    color: var(--primary-color);
}