.footer{
    padding-top: 60px;
    padding-bottom: 30px;
    background: var(--primary-color);
    &__text{
        line-height: 30px;
        color: #fff;
    }
    &__quick-links{
        & ul{
            & li{
                background: transparent !important;
                & a{
                    color: #fff !important;
                }
                & i{
                    color: #fff;
                    margin-right: 15px;
                }
                & p{
                    color: #fff;
                }
            }
        }
        & p{
            margin: 0;
        }
    }
    &__contact{
        & li{
            color: #fff;
            & span{
                font-size: 1.2rem;
                color: #fff;
            }
            & p{
                color: #fff;
                font-size: 0.9rem;
            }
        } 
    }
    &__copyright{
        color: #fff;
        font-size: 0.9rem;
        margin-top: 40px;
        text-align: center;
    }
}

.quick__links{
    &-title{
        margin-bottom: 20px;
        color: #fff;
        font-size: 1.1rem;
    }
}